.features {
  padding: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.77); /* fundo claro com transparência */
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.col {
  flex: 1 1 300px;
  max-width: 350px;
}

.card {
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  height: 100%;
}

/* Estilo padrão (modo claro) */
[data-theme='light'] .card {
  background: var(--ifm-color-primary-lightest);
  color: #ffffff;
}

/* Estilo para modo escuro */
[data-theme='dark'] .card {
  background: var(--ifm-color-primary-darker);
  color: #000000;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.featureSvg {
  height: 160px;
  margin-bottom: 1.5rem;
}

[data-theme='light'] h3,
[data-theme='light'] p {
  color: #000000;
}

[data-theme='dark'] h3,
[data-theme='dark'] p {
  color: #ffffff;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}
